*{
    font-family:'Courier New';
}
.userbtn{
    background-color: aqua;
}
#searchbtn{
    background-color: black;
    color: white;
}
h1{
    color: #1b74e4;
}
.srbtn{
    font-weight: 900;
}
#searchbtn:hover{
    background-color: #1b74e4;
}


input[type="text"]{
    font-weight: 700;
}