H1{
    color:#ffa511;
    text-decoration : underline teal double;
    font-family: league spartan;
    text-align: center;
    font-size:55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}